Flow 1 – WebLink Auto-Fill.json
{
  "name": "Flow 1 – WebLink Auto-Fill",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1EFDIjX7rpgw7A5xraILU-5kDIrxpT4wnufxWhKF_F58",
          "mode": "list",
          "cachedResultName": "Takeoff_Tracking_Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EFDIjX7rpgw7A5xraILU-5kDIrxpT4wnufxWhKF_F58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1225426978,
          "mode": "list",
          "cachedResultName": "master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EFDIjX7rpgw7A5xraILU-5kDIrxpT4wnufxWhKF_F58/edit#gid=1225426978"
        },
        "event": "rowUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7c435357-4d8d-4de2-b3a2-6a1602b39a98",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "h2FWLKxESh63XXUb",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\n\nif (row.Trigger !== \"FETCH\" || !row.WebLink) {\nreturn []; // Skip if no FETCH or no WebLink\n}\n\nlet platform = \"Unknown\";\nif (row.WebLink.includes(\"buildingconnected.com\")) platform = \"BuildingConnected\";\nelse if (row.WebLink.includes(\"procore.com\")) platform = \"Procore\";\n\nreturn [{\njson: {\nprojectId: row.ProjectID,\nwebLink: row.WebLink,\nplatform,\nrowNumber: row.row_number\n}\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "b0e55f4c-c1ca-45ab-907c-223b7d87d90f",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ $json.webLink }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "c2a2e5ff-b20b-4832-8bb6-83b7005a198c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $items(\"Code\")[0].json;\n\n// SAFE: Check if HTTP response exists and has body\nconst httpResponse = $input.first().json;\nlet html = \"\";\n\nif (httpResponse && httpResponse.body) {\n  html = httpResponse.body;\n} else {\n  html = \"No HTML response - likely login required\";\n}\n\nlet gc = \"Not found\", gcRep = \"Not found\", gcContact = \"Not found\", \n    projectName = \"Not found\", dueDate = \"Not found\";\n\n// Try parsing (safe even if empty HTML)\nif (html && html !== \"No HTML response - likely login required\") {\n  const gcMatch = html.match(/General Contractor[:\\s]*([A-Za-z\\s]{1,100})/i);\n  if (gcMatch) gc = gcMatch[1].trim();\n\n  const nameMatch = html.match(/<h1[^>]*>([^<]{1,200})<\\/h1>/i);\n  if (nameMatch) projectName = nameMatch[1].trim();\n\n  const dueMatch = html.match(/Due[:\\s]*(\\d{1,2}\\/\\d{1,2}\\/\\d{4}|\\d{4}-\\d{2}-\\d{2})/i);\n  if (dueMatch) dueDate = dueMatch[1];\n}\n\nreturn [{\n  json: {\n    ...inputData,\n    gc,\n    gcRep,\n    gcContact,\n    projectName,\n    projectDueDate: dueDate,\n    htmlStatus: html ? html.length + \" chars\" : \"Empty\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "5a56da8e-88ac-445d-9f78-f3d856004c1e",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet expAnticipatedDate = \"\";\n\nif (data.projectDueDate && data.projectDueDate !== \"Not found\") {\n  // Handle different date formats: DD/MM/YYYY or YYYY-MM-DD\n  let dueDate;\n  if (data.projectDueDate.includes('/')) {\n    const parts = data.projectDueDate.split('/');\n    dueDate = new Date(parts[2], parts[1]-1, parts[0]);  // DD/MM/YYYY\n  } else {\n    dueDate = new Date(data.projectDueDate);  // YYYY-MM-DD\n  }\n  \n  // Subtract 10 days\n  dueDate.setDate(dueDate.getDate() - 10);\n  expAnticipatedDate = dueDate.toISOString().slice(0, 10);  // YYYY-MM-DD\n}\n\nreturn [{\n  json: {\n    ...data,\n    expAnticipatedDate\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "64c32486-c56d-4aef-8b02-a6c517ac445c",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EFDIjX7rpgw7A5xraILU-5kDIrxpT4wnufxWhKF_F58",
          "mode": "list",
          "cachedResultName": "Takeoff_Tracking_Dashboard",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EFDIjX7rpgw7A5xraILU-5kDIrxpT4wnufxWhKF_F58/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1225426978,
          "mode": "list",
          "cachedResultName": "master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EFDIjX7rpgw7A5xraILU-5kDIrxpT4wnufxWhKF_F58/edit#gid=1225426978"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ProjectID": "={{ $json.projectId }}",
            "PlatformName": "={{ $json.platform }}",
            "WebLink": "={{ $('Code1').item.json.webLink }}",
            "GC": "={{ $json.gc }}",
            "GCRep": "={{ $json.gcRep }}",
            "GCRepContact": "={{ $json.gcContact }}",
            "ProjectName": "={{ $json.projectName }}",
            "ProjectFiles": "=",
            "ProjectDueDate": "={{ $json.projectDueDate }}",
            "ExpAnticipatedDate": "={{ $json.expAnticipatedDate }}"
          },
          "matchingColumns": [
            "ProjectID"
          ],
          "schema": [
            {
              "id": "ProjectID",
              "displayName": "ProjectID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ReferredBy",
              "displayName": "ReferredBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PricingBy",
              "displayName": "PricingBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PlatformName",
              "displayName": "PlatformName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "WebLink",
              "displayName": "WebLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Trigger",
              "displayName": "Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GC",
              "displayName": "GC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GCRep",
              "displayName": "GCRep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GCRepContact",
              "displayName": "GCRepContact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProjectName",
              "displayName": "ProjectName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ScopeOfProject",
              "displayName": "ScopeOfProject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProjectFiles",
              "displayName": "ProjectFiles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ProjectDueDate",
              "displayName": "ProjectDueDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TakeoffAssignedBy",
              "displayName": "TakeoffAssignedBy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TakeoffAssignedTo",
              "displayName": "TakeoffAssignedTo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DateAssigned",
              "displayName": "DateAssigned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ExpAnticipatedDate",
              "displayName": "ExpAnticipatedDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TakeoffReceivedDate",
              "displayName": "TakeoffReceivedDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DollarValue",
              "displayName": "DollarValue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Completed?",
              "displayName": "Completed?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NotesLatestUpdate",
              "displayName": "NotesLatestUpdate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LastUpdated",
              "displayName": "LastUpdated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "397e20d8-ec54-4079-8602-022faa06dc0c",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "mmAFpCZWUYBKIMPI",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "928ed280-2d5e-45b3-b676-cb6b1ef8fe2f",
              "leftValue": "=`{{ $json.statusCode }} !== 200`",
              "rightValue": "={{ $json.status !== 200 }}",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        0
      ],
      "id": "a513b15e-184f-408d-ba28-480bb0daabf1",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "30e9168c-04b2-4d68-9701-c8046600e089",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e5ce962700dcc48be3f3eac86e9efe1991ad08e03083f3b246d6508b8e8c31b"
  },
  "id": "bIfbaJPISO2ytPaQ",
  "tags": []
}